VITE_MAPBOX_TOKEN=pk.eyJ1IjoibmlzaGlsaiIsImEiOiJjbasdfXcxdjExMjYwMmpxNjEzN3E4cm5nIn0.8jKZwZg4GOUn_t6d5Y-e7Q
VITE_HAZARDLY_API_BASE_URL=http://your-project.vercel.app
VITE_HAZARDLY_IMAGE_BASE_URL=https://your-project.supabase.co/storage/v1/object/public/satellite-images