# IDE
.idea/
.vscode/
.cursor/
data/

# macOS
.DS_Store

# JetBrains
shelf/
workspace.xml

# Editor HTTP client
httpRequests/

# Environment variables
.env

# Dependencies
node_modules/

# Build tools
.vite/
dist/
*.tsbuildinfo

# Python
*.pyc
.venv/

# Project specific
/vlm/checkpoints
/vlm/imagery

# Generated frontend config outputs
frontend/tailwind.config.d.ts
frontend/tailwind.config.js
frontend/vite.config.d.ts
frontend/vite.config.js
