# IDE
.idea/
.vscode/
.cursor/

# macOS
.DS_Store

# JetBrains
shelf/
workspace.xml

# Editor HTTP client
httpRequests/

# Environment variables
.env

# Dependencies
node_modules/

# Build tools
.vite/

# Python
*.pyc

# Project specific
/vlm/checkpoints
/vlm/imagery

data/