# IDE
.idea/
.vscode/

# JetBrains
shelf/
workspace.xml

# Editor HTTP client
httpRequests/

# Environment variables
.env

# Dependencies
node_modules/

.vite/
/vlm/checkpoints
/vlm/imagery/original
/vlm/imagery/paired_crops
